# 파이썬 캐시 파일 (컴파일된 바이트코드)
__pycache__/
*.py[cod]
*$py.class

# 장고 데이터베이스 파일 (local DB)
*.sqlite3
*.db

# 가상환경 (venv, .venv 등)
venv/
.venv/
env/

# 민감한 정보 및 환경 변수 파일 (.env)
.env
local_settings.py

# 개발 툴 및 OS 설정 파일
.vscode/
.idea/
.DS_Store
Thumbs.db